# <center>Análisis de Datos Meteorológicos<center>

El objetivo es aplicar técnicas de manipulación de arrays, tratamiento de datos faltantes y análisis estadísticos básico en un conjunto de datos mediante Numpy

1. Crear un DataFrame
2. Observaciones iniciales mediante Pandas
3. Convertir las columnas del DataFrame a arrays de Numpy
4. Identificar datos faltantes (Reemplazar con el promedio de los valores)
5. Análisis estadísiticos (Temperatura promedio, Total de precipitaciones, Máxima humedad registrada...)
6. Exportar resultados (Archivo .csv)

In [1]:
import pandas as pd
import numpy as np

### Crear DataFrame y Observaciones Iniciales

In [33]:
df = pd.read_csv('../Python para Data Science/Datasets/datos_meteorologicos.csv')
df.head()

        Fecha  Temperatura  Precipitación    Humedad
0  01/01/2010    17.440675      10.957482  52.384637
1  02/01/2010    25.759468       5.315628  30.633530
2  03/01/2010    20.138169      15.317706  41.496715
3  04/01/2010    17.244159      13.151008  90.684704
4  05/01/2010    11.182740      16.413667  22.116422

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fecha          5110 non-null   object
 1   Temperatura    4855 non-null   float64
 2   Precipitación  4855 non-null   float64
 3   Humedad        4855 non-null   float64
dtypes: float64(3), object(1)
memory usage: 159.8+ KB

In [6]:
df.describe()

       Temperatura  Precipitación      Humedad
count  4855.000000    4855.000000  4855.000000
mean     14.889296       9.901604    54.359061
std      14.440466       5.801842    26.096345
min      -9.996378       0.003008    10.014980
25%       2.651777       4.756907    31.866578
50%      14.693274       9.853698    54.254478
75%      27.381451      14.966997    77.029500
max      39.998201      19.999559    99.996582

### DataFrame a Numpy arrays

In [8]:
temperatura = df['Temperatura']
precipitacion = df['Precipitación']
humedad = df['Humedad']

### Identificar datos faltantes

In [16]:
# Valores nulos
temp_nulo = np.isnan(temperatura)
prec_nulo = np.isnan(precipitacion)
hum_nulo = np.isnan(humedad)

In [21]:
# Promedio de cada array
promedio_temp = np.nanmean(temperatura)
promedio_prec = np.nanmean(precipitacion)
promedio_hum = np.nanmean(humedad)

# Reemplazar valores nulos por el promedio
temperatura[temp_nulo] = promedio_temp
precipitacion[prec_nulo] = promedio_prec
humedad[hum_nulo] = promedio_hum

# Verificación de valores nulos
print(np.isnan(temperatura).sum())
print(np.isnan(precipitacion).sum())
print(np.isnan(humedad).sum())

0
0
0

### Análisis Estadísticos

In [ ]:
# Temperatura promedio
print('Temperatura promedio:', promedio_temp)

Temperatura promedio: 14.889295723531713

In [31]:
# Total de precipitaciones
total_precipitacion = np.nansum(precipitacion)
print('Total de precipitaciones:', total_precipitacion)

Total de precipitaciones: 50597.19438939993

In [30]:
# Máxima humedad
max_humedad = np.nanmax(humedad)
print('Máxima humedad:', max_humedad)

Máxima humedad: 99.99658156071747

In [28]:
# Fecha mas calurosa
fecha_calurosa = df['Fecha'][np.nanargmax(temperatura)]
print('Fecha mas calurosa:', fecha_calurosa)

Fecha mas calurosa: 12/07/2017

In [29]:
# Fecha más fria
fecha_fria = df["Fecha"][np.nanargmin(temperatura)]
print('Fecha más fria:', fecha_fria)

Fecha más fria: 23/07/2020

### Exportar resultados

In [34]:
# Crear DataFrame con los resultados
df_final = pd.DataFrame({
    'temperatura Promedio': [promedio_temp],
    'Total de precipitaciones': [total_precipitacion],
    'Máxima humedad': [max_humedad],
    'Fecha más calurosa': [fecha_calurosa],
    'Fecha más fria': [fecha_fria]
})

df_final

# df_final.to_csv('../Python para Data Science/Datasets/resultados.csv', index=False)

,temperatura Promedio,Total de precipitaciones,Máxima humedad,Fecha más calurosa,Fecha más fria
0,14.889296,50597.194389,99.996582,12/07/2017,23/07/2020